---
layout: default
title: {{ page.title }}
---
<div class="content">
  <aside class="nav">
    <nav>
        {% if page.language == 'cn' %}
          <a class="logo" href="/cn"><img src="/static/img/qin.png"/></a>
          <a href="/cn/blog">博客</a>
          <a href="/cn/cv">简历</a>
          <a href="/cn/about">关于</a>
          <a href="{{ page.url | remove_first:'/cn' }}">英语</a>
        {% else %}
          <a class="logo" href="/"><img src="/static/img/qin.png"/></a>
          <a href="/blog">Blog</a>
          <a href="/about">About</a>
          <a href="/cv">CV</a>
          <a href="/cn{{ page.url }}">CN</a>
        {% endif %}
    </nav>
  </aside>
  <section>
    {{ content }}
  </section>
</div>
